### Movie Recommendation System

Using movielens data from here: http://files.grouplens.org/datasets/movielens/ml-1m.zip

POC not actual file

In [1]:
import tensorflow as tf
import pandas as pd
import readers
import main

Parameters:
ALLOW_SOFT_PLACEMENT=True
CHECKPOINT=./save/
ITEM=3113
LOG_DEVICE_PLACEMENT=False
USER=1696

In [2]:
# Trained Matrix
df=pd.read_pickle("user_item_table_train.pkl")

# Non Trained Matrix
# df=pd.read_pickle("user_item_table.pkl")

In [4]:
# Read the main file i.e. ratings.dat
ratings_df = readers.read_file("ratings.dat", sep="::")

### K-mean Clustering

In [24]:
clusters,movies=main.k_mean_clustering(ratings_df=ratings_df,TRAINED=False)

Found in 0.89 seconds 25 iterations

In [25]:
cluster_df=pd.DataFrame({'movies':movies,'clusters':clusters})

Movies along with respective clusters

In [26]:
cluster_df.head(10)

   clusters  movies
0         3       0
1         3       1
2         3       2
3         3       3
4         3       4
5         3       5
6         3       6
7         3       7
8         3       8
9         1       9

### K similar Movies

Need to find top K movies for recommendation

**Note:** When you run this K-similar function, on first run it will take time to give output but after that it's response is in real-time.

In [27]:
# Argument 1 : movie or list of movie
main.top_k_similar_items(9,ratings_df=ratings_df,k=10,TRAINED=False)

array([1119, 2528,  263, 1421, 4957, 4047, 3400,   47, 4386, 2795])

#### As you noticed most of the movies in same cluster

In [28]:
cluster_df[cluster_df['movies']==1119]

      clusters  movies
1119         1    1119

In [29]:
cluster_df[cluster_df['movies']==2528]

      clusters  movies
2528         1    2528

In [31]:
cluster_df[cluster_df['movies']==1421]

      clusters  movies
1421         1    1421

In [33]:
cluster_df[cluster_df['movies']==4047]

      clusters  movies
4047         1    4047

In [34]:
cluster_df[cluster_df['movies']==3400]

      clusters  movies
3400         1    3400

In [35]:
cluster_df[cluster_df['movies']==47]

    clusters  movies
47         1      47

In [36]:
cluster_df[cluster_df['movies']==4386]

      clusters  movies
4386         1    4386

### Pearson Correlation between User-User

**Note:** When you run this User Similarity function, on first run it will take time to give output but after that it's response is in real-time.

In [18]:
main.user_similarity(1,345,ratings_df)

0.11047309442793814

Similarity between two users

### Rating of User

Aspected rating for a user

In [19]:
ratings_df.head()

   user  item  rate         st
0     0  1192   5.0  978300760
1     0   660   3.0  978302109
2     0   913   3.0  978301968
3     0  3407   4.0  978300275
4     0  2354   5.0  978824291

In [20]:
main.user_rating(0,1192)

INFO:tensorflow:Restoring parameters from ./save/model

array([ 4.46088219], dtype=float32)

In [21]:
main.user_rating(0,660)

INFO:tensorflow:Restoring parameters from ./save/model

array([ 3.45428467], dtype=float32)

### Top K movie recommendation for User

Top 10 movie recommendation for user 768

In [22]:
main.top_k_movies([768],ratings_df,10)

INFO:tensorflow:Restoring parameters from ./save/model

/media/rishikesh/E6488E95488E6461/Projects/Movie Recommendation/recommendation_engine/main.py:30: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  top_k=list(useen_movies_df.sort(['rate','item'], ascending=[0, 0])['item'].head(k).values)

{768: [952, 49, 1233, 2904, 2018, 2027, 744, 3468, 2323, 109]}

In [23]:
main.top_k_movies(1198,ratings_df,10)

INFO:tensorflow:Restoring parameters from ./save/model

/media/rishikesh/E6488E95488E6461/Projects/Movie Recommendation/recommendation_engine/main.py:30: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  top_k=list(useen_movies_df.sort(['rate','item'], ascending=[0, 0])['item'].head(k).values)

{1198: [952, 1034, 1206, 911, 259, 898, 918, 3468, 2397, 1027]}